<header class="header">
  <div class="container">
    <div class="header-nav__container">
      <div class="header-logo">
        <a class="header-logo__link" href="./index.html">
          <svg class="header-logo__svg" width="24px" height="24px">
            <use href="./images/svg/header.svg#icon-logo"></use>
          </svg>
          <h2 class="header-logo__text">Filmoteka</h2>
        </a>
      </div>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item header-nav__item-current">
            <a id="home" class="header-nav__item-link" href="./index.html"> HOME </a>
          </li>
          <li class="header-nav__item">
            <a id="my-lib" class="header-nav__item-link" href="#"> MY LIBRARY </a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="header-dyn-cont"></div>
  </div>
</header>
